html, body { width: 100%; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif, "Helvetica Neue", sans-serif!important; background-color: rgb(255, 255, 255); }
.container{
    position: absolute;
    top: 10%;
    left: 35%;
    /*transform: translate(-50%,-50%);*/
    background-color: white;
    box-shadow: 3px 3px 3px 5px rgb(218, 214, 214);
    padding: 20px 60px 40px 60px;
    
    width: 500px;
    border-radius: 10px;
   
}
.h3{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;

   
}
label{
    font-size: 14px;
}
.centre{
    text-align: center;
    font-size: 14px;
    
   
}
.centre1{
   
    font-size: 14px;
    position: absolute;
    top:93%;
    left: 45%;
    width: 300px;
    
   
}
.img1{
margin-top: 10px;
margin-left: 20px;
}
.img{
    margin-left: 160px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="phone"]:focus,
select:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.button {
 font-weight: 500;
  border-radius: 10px;
}

button:hover {
  opacity: 1;
}
.ng-valid[required],
.ng-valid.required {
  border: 1px solid #42a948;
}
.error {
  color: #ff0000;
}
.success {
  color: green;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 1000px) {
  .signupbtn {
    width: 100%;
  }
  .container{
    height: auto;
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    padding: 20px 40px 20px 40px;
  }
  .centre1{
    left: 28%;
  }
  .img{
    margin-left: 110px;
  }
  .img1{
    margin-left: 50px;
  }
}

.youtubeBtn {
  position: fixed;
  right: 20px;
  transform: translatex(-50%);
  top: 20px;
  cursor: pointer;
  transition: all 0.3s;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  background: #000;
  padding: 2px 10px;
  border-radius: 5px;
}
.youtubeBtn i {
  font-size: 20px;
  float: left;
}
.youtubeBtn a {
  color: #ff0000;
  animation: youtubeAnim 1000ms linear infinite;
  float: right;
}
.youtubeBtn a:hover {
  color: #c9110f;
  transition: all 0.3s ease-in-out;
}
.youtubeBtn i:active {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.youtubeBtn span {
  font-family: "Lato";
  font-weight: bold;
  color: #fff;
  display: block;
  font-size: 12px;
  float: right;
  line-height: 20px;
  padding-left: 5px;
}

@keyframes youtubeAnim {
  0%,
  100% {
    color: #c9110f;
  }
  50% {
    color: #ff0000;
  }
}
